.garage-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 15px 0;
}

.garage-card {
    width: 60%;
    margin: 25px auto;
    padding: 20px;
    display: flex;
    align-items: center;
}