<div class="dialog-container">
    <div class="input-container">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="data.idno" disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Meeting Date</mat-label>
            <input matInput [matDatepicker]="pickerStart" [(ngModel)]="data.entry_date">
            <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="input-container">
        <mat-form-field class="text-area">
            <mat-label>Reference</mat-label>
            <input matInput [(ngModel)]="data.reference">
        </mat-form-field>
    </div>
    <div class="input-container">
        <mat-form-field class="text-area">
            <mat-label>Sub-Reference</mat-label>
            <textarea matInput [(ngModel)]="data.sub_ref1"></textarea>
        </mat-form-field>
    </div>
    <div class="input-container">
        <mat-form-field class="text-area">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="data.description"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="button-container">
    <button mat-raised-button class="button-update" (click)="editMeeting()">Update</button>
    <button mat-raised-button class="button-delete" (click)="deleteMeeting()">Delete</button>
    <button mat-raised-button class="button-cancel" (click)="cancelDialog()">Cancel</button>
</div>