mat-form-field {
    width: 300px;
    padding: 0 10px 0 10px;
}

button {
    width: 200px;
    margin: 20px auto;
    background-color: #3f51b5 !important;
    color: white !important;
}

.button-container {
    display: flex;
}

.deeds-card {
    width: 40%;
    margin: 25px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    min-width: 350px;
}

.text-area {
    width: 600px;
}

button {
    width: 200px;
    margin: 20px auto;
    background-color: #3f51b5 !important;
    color: white !important;
}

.button-container {
    display: flex;
}

@media all and (max-width: 1667px) {
    mat-form-field {
        width: 100%;
    }

    .text-area {
        width: 100%;
    }

    .form-div {
        width: 100%;
    }
}