<table mat-table [dataSource]="deedData" class="mat-elevation-z8">
    <ng-container matColumnDef="Document Date">
        <th mat-header-cell *matHeaderCellDef>Document Date</th>
        <td mat-cell *matCellDef="let element" (click)="deedsDialog(element)">{{ element.doc_date.split('T')[0] }}</td>
    </ng-container>
    <ng-container matColumnDef="Document Type">
        <th mat-header-cell *matHeaderCellDef>Document Type</th>
        <td mat-cell *matCellDef="let element" (click)="deedsDialog(element)">{{ element.doc_type }}</td>
    </ng-container>
    <ng-container matColumnDef="Sidwell">
        <th mat-header-cell *matHeaderCellDef>Sidwell</th>
        <td mat-cell *matCellDef="let element" (click)="deedsDialog(element)">{{ element.sidwell }}</td>
    </ng-container>
    <ng-container matColumnDef="Liber">
        <th mat-header-cell *matHeaderCellDef>Liber</th>
        <td mat-cell *matCellDef="let element" (click)="deedsDialog(element)">{{ element.liber }}</td>
    </ng-container>
    <ng-container matColumnDef="Page Number">
        <th mat-header-cell *matHeaderCellDef>Page Number</th>
        <td mat-cell *matCellDef="let element" (click)="deedsDialog(element)">{{ element.page_no }}</td>
    </ng-container>
    <ng-container matColumnDef="Grantor">
        <th mat-header-cell *matHeaderCellDef>Grantor</th>
        <td mat-cell *matCellDef="let element" (click)="deedsDialog(element)">{{ element.grantor }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>