.dialog-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


mat-form-field {
    width: 300px;
    padding: 0 10px 0 10px;
}

.text-area {
    width: 600px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 50px;
    button {
        margin: 10px 3px 40px 3px;
    }
}

.button-update {
    background-color: #3f51b5 !important;
    color: white !important;
}

.button-delete {
    background-color: #B80000 !important;
    color: white !important;
}

.button-cancel {
    background-color: #ED7D31 !important;
    color: white !important;
}

@media all and (max-width: 1667px) {
    mat-form-field {
        width: 100%;
    }

    .input-container {
        flex-direction: column;
    }

    .text-area {
        width: 100%;
    }
}