mat-form-field {
    width: 300px;
    margin: 5px;
}

.garage-card {
    width: 60%;
    margin: 25px auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
}

button {
    width: 200px;
    margin: 20px auto;
    background-color: #3f51b5 !important;
    color: white !important;
}

.printOnly {
    display: none;
    width: 100%;
    margin: 20px;
}

.printText {
    text-align: center;
}

@media print {
    .noprint {
        display: none;
    }

    .printOnly {
        display: inline;
    }

    @page {
        size: auto;
        margin-bottom: 0;
        margin-top: 0;
        padding: 50px;
    }
}