.list-item {
    height: 100%;
    cursor: pointer;
}

.list-item:hover {
    background-color: #DCF2F1 !important;
}

.meeting-description {
    text-wrap: wrap;
    margin-left: 25%;
}

.meeting-title {
    font-weight: bold;
}