<mat-list-item class="list-item">
    <div class="grid grid-cols-5 gap-5">
        <span>
            Permit {{ saleData.permit_no }}
        </span>
        <span class="col-span-4">
            {{ saleData.name }}
        </span>
    </div>
    <div class="grid grid-cols-5 gap-5">
        <span>
        </span>
        <span class="col-span-2">
            {{ saleData.street_addr }}, {{ saleData.zip | slice: 0:-1 }}
        </span>
        <span class="col-span-2">
            {{ saleData.sale_date }} - {{ saleData.end_date }}
        </span>
    </div>
</mat-list-item>

<mat-divider></mat-divider>


<!-- 
    fields to display:
    permit_no, name, street_addr, sale_date, end_date
-->